.theme-font-family{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}
.customShadow{
    box-shadow: 6px 0px 53px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 6px 0px 53px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px 0px 53px 0px rgba(0,0,0,0.15);

}